<div class="form-group row">
	<div class="offset-sm-2 col-sm-7">
		<button type="submit" class="btn btn-primary" {% if attr %}{% for k, v in attr %}{{ k }}="{{ v }}" {% endfor %}{% endif %}>{{ label|trans }}</button>
		{% if cancel %}
			<a class="btn" href="{{ cancel }}">Отмена</a>
		{% endif %}
	</div>
</div>